<div class="title-main">
  Frequently asked questions
</div>
<div class="container">
  <div class="title-accordion">
    Here you will find answers to all of the frequently asked questions my team and I receive. Click the pink box or arrow for the answer to drop down.
  </div>
  <div class="accordion accordion-flush" id="accordionFlushExample">

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          What is Bridge.com?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Bridge.com is a reference website, information search attracts a large number of visitors looking for information about famous bridges in the world. All of our documents,
          images, information are free to use, anyone can use them.
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          What is your purpose in creating this website?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Of course, we want to have a place for you to find information about bridges in the easiest and most convenient way for those of you who are passionate about discovering and
          knowing more about famous bridges. It's even a reference place for you to visit when you travel near the site of these bridges, it's great
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          How can you help me find information about famous bridges?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          We have been and will be looking for the most accurate information from official sources but poorly organized or too complicated, we will summarize it in the easiest way to read
          and learn. All you have to do is visit our website to read and enjoy, that's all
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Is Bridge.com really free?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Of course not, every aspect of Bridge.com is free, rest assured about that
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          How big is the Bridge.com community?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Yes, this is also what we are always looking for. Our website has just started forming and is in the process of building our brand and standing. Having a large community to
          exchange, supplement and correct erroneous information, moreover, exchange and evaluate bridges so that you in the community have an additional tourist attraction is what we
          want to aim for
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
          How can I support the Bridge.com community?
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Just simple. your coming to us has been a great encouragement to us. Under each post, please take a moment of your precious time to comment on things you find interesting,
          or can point out. Inaccurate information for us to promptly correct. Moreover, if you have been to this bridge already, please give your impressions and evaluations about
          that fishing rod for those of you who have not had the opportunity to see that bridge directly.
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
          How did Bridge.com get started?
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          In September 2022, when the ideas were glimmering, we started researching, discussing, pitching our ideas and Bridge.com became the website it is today.
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
          Can I trust the information you provide?
        </button>
      </h2>
      <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          For those of you who want to find accurate information to be able to travel, finding accurate and complete information about the destination is very important, especially regarding
          the lives and experiences of everyone. People, but everyone, including those of you who just want to learn and expand your knowledge, it is very important that we provide accurate
          information. We understand that, so we take great care in sourcing, filtering and checking information carefully before giving it to our readers.
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingNine">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
          Does Bridge.com have a mobile app?
        </button>
      </h2>
      <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Yes, moreover our site is suitable for a wide variety of screens
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
          Can I trust the information you provide?
        </button>
      </h2>
      <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          For those of you who want to find accurate information to be able to travel, finding accurate and complete information about the destination is very important, especially regarding
          the lives and experiences of everyone. People, but everyone, including those of you who just want to learn and expand your knowledge, it is very important that we provide accurate
          information. We understand that, so we take great care in sourcing, filtering and checking information carefully before giving it to our readers.
        </div>
      </div>
    </div>


  </div>

</div>

<div class="words-of-thanks">
  Thank you from the <a href="#">Bridge.com</a> team!!!
</div>
