<div class="mt-4 background-grey">

  <div class="container">
    <!-- This row only display on medium screen side and up -->
    <div class="row pt-4 pb-2 d-none d-md-flex">
      <div class="col-md-6 col-lg-3">
        <div class="header accordion">Sections</div>
        <ul class="content panel">
          <li><a routerLink="/latest-posts">Latest Post</a></li>
          <li><a routerLink="/bridges-history">Bridges History</a></li>
          <li><a routerLink="/historical-great-bridges">Historical Great Bridges</a></li>
          <li><a routerLink="/high-level-achievements">High-Level Achievements in Bridges</a></li>
          <li><a routerLink="/iconic-bridges">Iconic Bridges</a></li>
          <li><a routerLink="/modern-great-bridges">Modern Great Bridges</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="header">Browse By Continent</div>
        <ul class="content">
          <li><a routerLink="/bridges-by-continent/1">North America</a></li>
          <li><a routerLink="/bridges-by-continent/2">South America</a></li>
          <li><a routerLink="/bridges-by-continent/3">Europe</a></li>
          <li><a routerLink="/bridges-by-continent/4">Africa</a></li>
          <li><a routerLink="/bridges-by-continent/5">Asia</a></li>
          <li><a routerLink="/bridges-by-continent/6">Australia</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="header">Bridge.com</div>
        <ul class="content">
          <li><a routerLink="/gallery">Gallery</a></li>
          <li><a routerLink="/about-us">About Us</a></li>
          <li><a routerLink="/contact-us">Contact Us</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="header">Subscribe</div>
        <div class="form">
          <input type="email" name="email" class="email-subscribe text-dark" placeholder="Email Address" required [(ngModel)]="emailInput" #email="ngModel">
<!--          <div class="alert alert-danger  py-2" *ngIf="!email.valid">Invalid email address</div>-->
          <!-- Button trigger modal -->
          <button type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Subscribe</button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content" style="border: none; border-radius: 8px; box-shadow: 0 0 20px rgba(0,0,0,0.1)">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Massage</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Thank you for subscribing to Bridge.com!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header">Follow Us</div>
        <ul class="icon-group">
          <li><a target="_blank" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a target="_blank" href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a target="_blank" href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
          <li><a target="_blank" href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <!-- This row only display on medium screen down -->
    <div class="accordion d-md-none py-2" id="accordionPanelsStayOpenExample">
      <div class="accordion-item" style="background-color: transparent">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne" style="background-color: transparent">
            Sections
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <ul class="content panel" style="height: auto">
              <li><a routerLink="/latest-posts">Latest Post</a></li>
              <li><a routerLink="/bridges-history">Bridges History</a></li>
              <li><a routerLink="/historical-great-bridges">Historical Great Bridges</a></li>
              <li><a routerLink="/high-level-achievements">High-Level Achievements in Bridges</a></li>
              <li><a routerLink="/iconic-bridges">Iconic Bridges</a></li>
              <li><a routerLink="/modern-great-bridges">Modern Great Bridges</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item" style="background-color: transparent">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color: transparent">
            Browse By Continent
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <ul class="content row" style="height: auto">
              <div class="col-6">
                <li><a routerLink="/bridges-by-continent/1">North America</a></li>
                <li><a routerLink="/bridges-by-continent/2">South America</a></li>
                <li><a routerLink="/bridges-by-continent/3">Europe</a></li>
              </div>
              <div class="col-6">
                <li><a routerLink="/bridges-by-continent/4">Africa</a></li>
                <li><a routerLink="/bridges-by-continent/5">Asia</a></li>
                <li><a routerLink="/bridges-by-continent/6">Australia</a></li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item" style="background-color: transparent">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color: transparent">
            Bridge.com
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <ul class="content row" style="height: auto">
              <div class="col-6">
                <li><a routerLink="/gallery">Gallery</a></li>
                <li><a routerLink="/about-us">About Us</a></li>
                <li><a routerLink="/contact-us">Contact Us</a></li>
              </div>
              <div class="col-6">
                <li><a routerLink="/faq">FAQ</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item" style="background-color: transparent">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour" style="background-color: transparent">
            Follow Us
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
          <div class="accordion-body">
            <div class="header">Subscribe</div>
            <div class="form" action="#">
              <input type="email" class="email-subscribe" placeholder="Email Address" required>
              <!-- Button trigger modal -->
              <button type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Subscribe</button>
            </div>
            <div class="header">Follow Us</div>
            <ul class="icon-group">
              <li><a target="_blank" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a target="_blank" href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a target="_blank" href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a target="_blank" href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Continuous scrolling ticker-->
<div class="background-dark py-1">
  <div class="container">
    <div class="ticker">
      <div class="ticker__list">
        <div class="ticker__item">{{currentDate}}</div>
        <div class="ticker__item">Latitude: {{lat}}, Longitude: {{lng}}</div>
        <div class="ticker__item">{{currentDate}}</div>
        <div class="ticker__item">Latitude: {{lat}}, Longitude: {{lng}}</div>
        <div class="ticker__item">{{currentDate}}</div>
        <div class="ticker__item">Latitude: {{lat}}, Longitude: {{lng}}</div>
      </div>
      <div class="ticker__list">
        <div class="ticker__item">{{currentDate}}</div>
        <div class="ticker__item">Latitude: {{lat}}, Longitude: {{lng}}</div>
        <div class="ticker__item">{{currentDate}}</div>
        <div class="ticker__item">Latitude: {{lat}}, Longitude: {{lng}}</div>
        <div class="ticker__item">{{currentDate}}</div>
        <div class="ticker__item">Latitude: {{lat}}, Longitude: {{lng}}</div>
      </div>
    </div>
  </div>
</div>










