
<div class="mt-4" style="background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);">
  <!--Waves Container-->
  <div style="transform: rotate(180deg)">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  <!--Waves end-->


  <div class="container">
    <!-- This row only display on medium screen side and up -->
    <div class="row pt-4 pb-2 d-none d-md-flex">
      <div class="col-md-6 col-lg-3">
        <div class="header accordion">Sections</div>
        <ul class="content panel">
          <li><a routerLink="/latest-posts">Latest Post</a></li>
          <li><a routerLink="/bridges-history">Bridges History</a></li>
          <li><a routerLink="/historical-great-bridges">Historical Great Bridges</a></li>
          <li><a href="#">High-Level Achivements in Bridges</a></li>
          <li><a routerLink="/iconic-bridges">Iconic Bridges</a></li>
          <li><a routerLink="/modern-great-bridges">Modern Great Bridges</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="header">Browse By Continent</div>
        <ul class="content">
          <li><a routerLink="/bridges-by-continent/1">North America</a></li>
          <li><a routerLink="/bridges-by-continent/2">South America</a></li>
          <li><a routerLink="/bridges-by-continent/3">Europe</a></li>
          <li><a routerLink="/bridges-by-continent/4">Africa</a></li>
          <li><a routerLink="/bridges-by-continent/5">Asia</a></li>
          <li><a routerLink="/bridges-by-continent/6">Australia</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="header">Bridge.com</div>
        <ul class="content">
          <li><a routerLink="/gallery">Gallery</a></li>
          <li><a routerLink="/about-us">About Us</a></li>
          <li><a routerLink="/contact-us">Contact Us</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="header">Subscribe</div>
        <form action="#">
          <input type="email" class="email-subscribe" placeholder="Email Address" required>
          <button type="submit">Subscribe</button>
        </form>
        <div class="header">Follow Us</div>
        <ul class="icon-group">
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <!-- This row only display on medium screen down -->
    <div class="accordion d-md-none py-2" id="accordionPanelsStayOpenExample">
      <div class="accordion-item" style="background-color: transparent">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne" style="background-color: transparent">
            Sections
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <ul class="content panel" style="height: auto">
              <li><a href="#">Latest Post</a></li>
              <li><a href="#">Bridges History</a></li>
              <li><a href="#">Historical Great Bridges</a></li>
              <li><a href="#">High-Level Achivements in Bridges</a></li>
              <li><a href="#">Iconic Bridges</a></li>
              <li><a href="#">Modern Great Bridges</a></li>
              <li><a href="#">Bridges Facts</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item" style="background-color: transparent">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color: transparent">
            Browse By Continent
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <ul class="content row" style="height: auto">
              <div class="col-6">
                <li><a href="#">North America</a></li>
                <li><a href="#">South America</a></li>
                <li><a href="#">Europe</a></li>
              </div>
              <div class="col-6">
                <li><a href="#">Africa</a></li>
                <li><a href="#">Asia</a></li>
                <li><a href="#">Australia</a></li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item" style="background-color: transparent">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color: transparent">
            Bridge.com
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <ul class="content row" style="height: auto">
              <div class="col-6">
                <li><a href="#">Gallery</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
              </div>
              <div class="col-6">
                <li><a routerLink="/faq">FAQ</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item" style="background-color: transparent">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour" style="background-color: transparent">
            Follow Us
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
          <div class="accordion-body">
            <div class="header">Subscribe</div>
            <form action="#">
              <input type="email" class="email-subscribe" placeholder="Email Address" required>
              <button type="submit">Subscribe</button>
            </form>
            <div class="header">Follow Us</div>
            <ul class="icon-group">
              <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Continuous scrolling ticker-->
<div class="background-dark py-2">
  <div class="container">
    <div class="ticker">
      <div class="ticker__list">
        <div class="ticker__item">{{currentDate}}</div>
        <div class="ticker__item">Latitude: {{lat}}, Longitude: {{lng}}</div>
        <div class="ticker__item">{{currentDate}}</div>
        <div class="ticker__item">Latitude: {{lat}}, Longitude: {{lng}}</div>
        <div class="ticker__item">{{currentDate}}</div>
        <div class="ticker__item">Latitude: {{lat}}, Longitude: {{lng}}</div>
      </div>
      <div class="ticker__list">
        <div class="ticker__item">{{currentDate}}</div>
        <div class="ticker__item">Latitude: {{lat}}, Longitude: {{lng}}</div>
        <div class="ticker__item">{{currentDate}}</div>
        <div class="ticker__item">Latitude: {{lat}}, Longitude: {{lng}}</div>
        <div class="ticker__item">{{currentDate}}</div>
        <div class="ticker__item">Latitude: {{lat}}, Longitude: {{lng}}</div>
      </div>
    </div>
  </div>
</div>










