/*  ENTIRE PAGE  */
.about-us {
  margin-top: -10px;
  color: #605f5f;
  font-family: 'Nanum Gothic', sans-serif;
}
a {
  color: #881520;
}
a:hover{
  color: #ff3d00;
}
.empty-box {
  height: 200px;
  background-color: #f1f1f1;
}
.container {
  background: white;
  margin-top: -200px;
  padding: 0;
}
/*  CAROUSEL  */
#carouselExampleCaptions {
  height: 675px;
  padding: 0;
}
#carouselExampleCaptions img{
  height: 675px;
  object-fit: cover;
  object-position: center;
}
.title-num1 a {
  color: white;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: bolder;
}
.title-num1 a:hover {
  color: #ff3d00;
}
.title-num2 {
  font-size: 24px;
  letter-spacing: 2px;
}
/*  GREETING AND GENERAL INTRODUCTION  */

/*  CONTENT 1 -- ABOUT-US  */
.row.greeting {
  text-transform: uppercase;
  padding: 27px 0;
  border-top: #0f3f85 1px solid;
  border-bottom: #0f3f85 1px solid;
  margin: 27px 0 0 0;
}
.row.greeting .col-5 {
  padding: 0;
}
.row.greeting .col-5 .title-about-us {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: bolder;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f3f85;
}
.row.greeting .col-5 .greeting {
  padding: 0 20px;
  text-align: center;
  font-size: 20px;
}
.row.greeting .col-5 .greeting p {
  margin-bottom: 5px;
}

.row.greeting .col-7 {
  padding: 0;
}

/*  CONTENT 2 -- VISION  */
.row.vision {
  padding: 10px 0;
}
/*  including the CSS of the "MISSION" section  */
.title-vision, .title-mission {
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: bolder;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f3f85;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.row.vision .content-vision {
  padding: 0 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
  letter-spacing: normal;
}

/*  CONTENT 3 -- MISSION  */
.mission {
  border-top: #0f3f85 1px solid;
}
.mission .title-vision {
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: bolder;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f3f85;
  text-transform: uppercase;
}
.content-mission {
  margin: 0 230px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  line-height: 1.7;
  text-align: justify;
}
.content-mission .content {
  margin-bottom: 20px;
}

/*  CONTENT 4 -- OUR COMMITMENT  */
/*  including the CSS of the "OUR TEAM" section  */
.our-commitment, .our-team {
  padding: 0;
}
.title-commitment p {
  margin-bottom: 0;
  width: 200px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #0f3f85;
  color: white;
  padding-left: 10px;
  letter-spacing: 2px;
}
.content-commitment {
  border-top: 1px #0f3f85 solid;
  margin: 0;
  padding-top: 10px;
}
.content-commitment .col-4 {
  padding: 6px;
}
.content-commitment p {
  background-color: #e2e5e8;
  padding: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
  filter: drop-shadow(1px 2px 1px black);
}

/*  CONTENT 5 -- OUR TEAM  */
.title-our-team p {
  margin-bottom: 0;
  width: 200px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #0f3f85;
  color: white;
  padding-left: 10px;
  letter-spacing: 2px;
}
.title-our-team {
  margin-bottom: -5px;
  border-bottom: 1px #0f3f85 solid;
}
.content-our-team {
  margin-top: 10px;
}
.content-our-team .member-infor {
  background-color: #e5e9ea;
  text-align: center;
  padding-top: 17px;
  filter: drop-shadow(0 0 2px black);
}
.fa-sharp.fa-solid.fa-circle-user {
  font-size: 150px;
  display: flex;
  justify-content: center;
}
.member-infor .content-main {
  padding-top: 10px;
}
.content-main .name {
  text-transform: uppercase;
}
.content-main .position {
  font-family: 'Source Sans Pro', sans-serif;
}
.content-main .position.num2 {
  padding-bottom: 15px;
}


/*  DISPLAY SCREEN LESS THAN 1400px  */
@media (max-width: 1400px){
  /*  content  */
  .content-main {
    margin: 20px 0;
    line-height: 1.6;
  }
  /*  CONTENT 3 -- MISSION  */
  .content-mission {
    margin: 0 40px;
  }

  /*  CONTENT 4 -- OUR COMMITMENT  */
  .content-commitment .col-4 {
    width: 100%;
  }
  .content-commitment .col-4 p {
    width: 100%;
    padding: 20px;
  }
  /*  CONTENT 5 -- OUR TEAM*/
  .content-member-information {

  }
}


/*  DISPLAY SCREEN LESS THAN 1024px  */
@media (max-width: 1024px){

  /*  CONTENT 1 -- ABOUT US  */
  .row.greeting .col-5 {
    width: 100%;
    padding:0 20px 20px;
  }
  .row.greeting .col-7 {
    width: 100%;
    padding: 0 20px;
  }
  .row.greeting .col-5 .title-about-us {
    margin-top: 0;
    margin-bottom: 5px;
  }

  /*   content  */
  .content-main {
    margin: 20px 30px;
    font-size: 17px;
    line-height: 1.5;
  }
  /*  CAROUSEL  */
  #carouselExampleCaptions {
    height: auto;
    width: auto;
  }
  #carouselExampleCaptions img{
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  /*  CONTENT 2 -- VISION  */
  .row.vision {
    position: relative;
    padding-bottom: 0;
  }
  .row.vision .col-5 {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0;
  }
  .row.vision .col-7 {
    width: 100%;
    margin: 185px 0 0;
  }
  .row.vision .content-vision {
    padding: 0 10px 10px;
  }
  /*  CONTENT 3 -- MISSION  */
  .title-mission {
    margin-top: 20px;
    margin-bottom: 8px;
  }

}


/*  DISPLAY SCREEN LESS THAN 740px  */
@media (max-width: 740px){
  .container {
    padding: 0 10px;
  }
  /*  CAROUSEL  */
  #carouselExampleCaptions {
    padding: 0 15px;
  }
  /*    CONTENT 1 - ABOUT US  */
  .row.greeting .col-5 {
    padding: 0 0 20px 0;
  }
  .row.greeting .col-5 .greeting {
    padding: 0 20px;
    text-align: center;
    font-size: 18px;
  }
  /*  CONTENT 2 -- VISION  */
  .title-vision {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .row.vision .col-7 {
    margin-top: 230px;
  }
  .row.vision .col-5 {
    padding: 20px;
  }
  /*  CONTENT3 -- MISSION  */
  .content-mission {
    margin: 0 20px;
  }
  /*  CONTENT 4 -- OUR COMMITMENT  */
  .our-commitment {

  }
  .content-commitment .col-4 {
    padding: 0 15px;
  }
  .content-commitment p {
    padding: 20px;
  }
  /*  CONTENT 5 -- OUR TEAM  */
  .our-team {

  }
}
