<div class="about-us">
  <div class="empty-box"></div>
  <div class="container">

    <!--  CAROUSEL  -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/great_belt_bridge.jpg" class="d-block w-100" alt="Image one">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="title-num1"><a href="#">BRIDGE.COM</a></h5>
            <p class="title-num2">WHERE YOU CAN FIND INFORMATION ABOUT BRIDGES IN THE WORLD</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/images/tower_bridge.jpg" class="d-block w-100" alt="Image two">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="title-num1"><a href="#">BRIDGE.COM</a></h5>
            <p class="title-num2">UPDATE FULL, FAST AND ACCURATE INFORMATION ABOUT THE WORLD'S BRIDGE</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/images/sydney_harbour_bridge.jpg" class="d-block w-100" alt="image three">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="title-num1"><a href="#">BRIDGE.COM</a></h5>
            <p class="title-num2">ALWAYS GUARANTEE ALL INFORMATION IS CORRECT</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!--  CONTENT 1 -- ABOUT US  -->
    <div class="row greeting">
      <div class="col-5">
        <div class="title-about-us">
          ABOUT us
        </div>
        <div class="greeting">
          <p>HI GUYS !!!!!! WELCOME TO <a href="#">BRIDGE.COM</a></p>
          <p>
            where you can find all the most complete, accurate,
            reliable information about bridges in the world...
          </p>
        </div>
      </div>
      <div class="col-7">
        <img src="assets/images/bridges-list/golden_gate_bridge/10.jpg" alt="img about-us one">
      </div>
    </div>

    <!--  CONTENT2 -- VISION  -->
    <div class="row vision">
      <div class="col-7">
        <img src="https://wallpaperaccess.com/full/2911097.png" alt="world map">
      </div>
      <div class="col-5">
        <div class="title-vision">
          Vision
        </div>
        <div class="content-vision">
          Whoever you are, <a href="#">bridge.com</a> will always help you to explore and discover the limits of your knowledge. We always
          make sure to bring a knowledge sharing channel about bridges for those of you who love to discover new things around the world.
        </div>
      </div>
    </div>

    <!--  CONTENT3 -- MISSION  -->
    <div class="mission">
      <div class="title-mission">
        mission
      </div>
      <div class="content-mission">
        <div class="content num1">
          Humanity has built bridges since the dawn of civilizations. Today, bridges are all around us - they provide an easier,
          faster and safer connection between two points. Bridges have evolved from mere structures to symbols of cities, nations,
          and human progress. The iconic bridge structures embody the engineers' eternal aspiration for greater achievement - longer
          and taller, stronger and faster. We all admire bridges that gracefully cross over a deep ravine, canyon, great river or bay
          and consider them highly technical achievements.
        </div>
        <div class="content num2">
          Today's bridges symbolize not only the advancement of our world in design but also its advancement in technology.
          As a result, architects and engineers have been able to combine design and technology to create bridges that are bigger,
          better, and more spectacular than ever before. Some of these are simply stunning - a veritable wonder of classical engineering capabilities and striking achievements
          of modern engineering. We have a mission to compile the most incredible bridges in the world, young and old.
        </div>
      </div>
    </div>

    <!--  CONTENT4  --  OUR COMMITMENT  -->
    <div class="our-commitment">
      <div class="title-commitment">
        <p>
          Our commitment
        </p>
      </div>
      <div class=" row content-commitment">
        <div class="col-4">
          <p>
            Since its founding on October 1, 2022, Bridge.com has always been committed to developing into a large reference website,
            attracting a large number of visitors to search for information. All of our documents, images, information are free
            to use, anyone can use them.
          </p>
        </div>
        <div class="col-4">
          <p>
            We are constantly searching and creating new articles about bridges to bring you quickly and accurately. Newspapers about
            new events will appear within weeks. In addition, we are always looking for omissions and inaccuracies in the articles we
            have created.
          </p>

        </div>
        <div class="col-4">
          <p>
            We always promise that the articles we create are true. Our team always tries to find the most accurate information to bring
            to readers. However, there are still certain errors that cannot be avoided, please comment and we will correct them as soon
            as possible.
          </p>

        </div>
      </div>
    </div>

    <!--  CONTENT 5 --  OUR TEAM  -->
    <div class="our-team">
      <div class="title-our-team">
        <p>
          Our team
        </p>
      </div>
      <div class="row px-5 content-our-team">
        <div class="col-12 col-md-6 col-lg-4 p-3" *ngFor="let l of listOurteam; let i = index">
          <div class="member-infor">
            <i class="fa-sharp fa-solid fa-circle-user"></i>
            <div class="mem-infor">
              <div class="name">
                {{l.memberName}}
              </div>
              <div class="position num1">
                {{l.positionOne}}
              </div>
              <div class="position num2">
                {{l.positionTwo}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


