/*----------------  ENTIRE PAGE  --------------------*/
.about-us {
  margin: -10px 0;
  padding: 0;
  background-color:  #f2f2f2
}
a {
  color: black;
}
a:hover{
  color: #ff3d00;
}

.container {
  padding: 0;
  background-color:  #f2f2f2
}

/*--------------------  BACKGROUND VIDEO -------------------*/
.background-video {
  width: 100%;
  height: 500px;
  position: relative;
}
.title-background {
  width: 100%;
  position: absolute;
  bottom: 55px;
  text-align: center;
  z-index: 1;
  color: #fff;
}
video {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.title-background h1{
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 7px;
}
.title-background a {
  font-size: 25px;
  color: #fff;
  letter-spacing: 3px;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 2px 22px 3px;
}

.title-background a:hover {
  color: #ff3d00;

}

/*-----------------  GREETING AND GENERAL INTRODUCTION  ---------------------*/

/*  CONTENT 1 -- ABOUT-US  */
.row.greeting {
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0;
  letter-spacing: 1.5px;
  font-weight: 500;

}

.row.greeting .content.one {
  margin-top: 12px;
  margin-bottom: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
.row.greeting .content.two {
  font-size: 22px;
  text-align: center;
  margin-top: 12px;
  color: gray;
  font-weight: 450;
}


/*-----------------  CONTENT 2 -- VISION  -----------------------*/
.row.vision {
  padding: 24px 0 24px 24px;
  margin: 0 0 48px 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}
.row.vision .col-7 {
  padding: 0;
}
/*  including the CSS of the "MISSION" section  */
.title-vision, .title-mission {
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  font-style: italic;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  bottom: -1.2rem;
  font-weight: 450;
  font-size: 2.5rem;
  padding-right: 0.5rem;
  color: gray;

}
.row.vision .content-vision {
  padding: 0 20px;
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
  letter-spacing: normal;

}
.row.vision img{
  border-radius: 5px;
}

/*-------------------  CONTENT 3 -- MISSION  ------------------------*/
.mission {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  padding: 10px 0;
  margin-bottom: 70px;
}
.mission .title-vision {
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: bolder;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-transform: uppercase;
}
.content-mission {
  margin: 0 230px;
  font-size: 20px;
  line-height: 1.7;
  text-align: justify;
}
.content-mission .content {
  margin-bottom: 20px;
}

/*---------------------  CONTENT 4 -- OUR COMMITMENT  ------------------------*/
.our-commitment {
  margin-bottom: 70px;
}
.title-our-commitment{
  height: 1px;
  background-color: #d3d3d3;
  position: relative;
  z-index: 1;
  margin: 34px;
}
.title-our-commitment span{
  margin-left: 100px;
  position: absolute;
  bottom: -1.2rem;
  font-size: 2.5rem;
  background-color: #f2f2f2;
  padding-right: 0.5rem;
  color: gray;
  font-weight: 450;
  font-style: italic;
}
.carousel.slide {
  height: 680px;
}
.carousel.slide img{
  height: 680px;
  object-fit: cover;
}
.carousel-caption {
  margin: 0 -50px;
}
.carousel-caption h5{
  font-size: 35px;
  line-height: 1.7;
  text-align: center;
}
.our-commitment .display-our-commitment {
  display: none;
}


/*----------------------  CONTENT 5 -- OUR TEAM  ----------------------------*/
.our-team {
  margin-top: -12px;
  padding: 0;
  font-style: italic;
  color: grey;
}
.title-our-team{
  height: 1px;
  background-color: #d3d3d3;
  position: relative;
  z-index: 1;
  margin: 50px 34px 34px;
}
.title-our-team span{
  margin-left: 100px;
  position: absolute;
  bottom: -1.2rem;
  font-size: 2.5rem;
  background-color: #f2f2f2;
  padding-right: 0.5rem;
  color: gray;
  font-weight: 450;
  font-style: italic;
}

.content-our-team {
  margin: 0;
}
.content-our-team .member-infor {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  text-align: center;
  padding-top: 17px;
}
.fa-sharp.fa-solid.fa-circle-user {
  font-size: 150px;
  display: flex;
  justify-content: center;
  color: #dff0fa;
}
.member-infor .content-main {
  padding-top: 10px;
}
.content-main .name {
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  color: black;
}
.content-main .position.num1 {
  font-weight: 500;
}
.content-main .position {
  font-family: 'Source Sans Pro', sans-serif;
}
.content-main .position.num2 {
  padding-bottom: 15px;
}


/*-------------------  DISPLAY SCREEN LESS THAN 1400px  ------------------------*/
@media (max-width: 1400px){

  /*---------  BACKGROUND VIDEO -----------------*/
  .background-video {
    height: 470px;
  }
  video {
    height: 470px;
  }


  /*--------------  CONTENT 1 -- ABOUT-US  -----------------------*/
  .row.greeting {
    padding: 20px 0;
  }

  .row.greeting .content.two {
    font-size: 18px;
    line-height: 1.8;
    padding: 0 30px;
  }

  /*-----------  content  ---------------*/
  .content-main {
    margin: 20px 0;
    line-height: 1.6;
  }
  /*-----------------  content2 -- vision  ---------------------------*/
  .title-vision{
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
  }


  /*-----------------  CONTENT 3 -- MISSION  -----------------*/
  .content-mission {

  }

  /*-----------------  CONTENT 4 -- OUR COMMITMENT  ------------------*/

  .carousel.slide {
    height: 600px;
  }
  .carousel.slide img{
    height: 600px;
    object-fit: cover;
  }
  .carousel-caption {
    margin: 0 -50px;
  }
  .carousel-caption h5{
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
  }
    /*---------------  CONTENT 5 -- -----------------OUR TEAM*/
  .content-member-information {

  }
}
/*  DISPLAY SCREEN LESS THAN 1200px  */
@media (max-width: 1200px) {
  /*  CONTENT 2 -- VISION  */
  .row.vision {
    position: relative;
    padding: 24px 0 0;
  }
  .row.vision .col-5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
  }
  .row.vision .col-7 {
    width: 100%;
    margin: 185px 0 0;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  }
  .row.vision .content-vision {
    padding: 0 24px;
  }
  .title-vision{
    margin: 12px 0;
  }

  /*-------------------  CONTENT 3 -- MISSION  ------------------------*/
  .content-mission {
    margin: 0 100px;
  }

}


  /*  DISPLAY SCREEN LESS THAN 1024px  */
@media (max-width: 1024px){

  /*  BACKGROUND VIDEO*/
  .background-video {
    height: 450px;
  }
  video {
    height: 450px;
  }
  .title-background h1{
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  .title-background a {
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 20px;
  }

  /*  CONTENT 1 -- ABOUT-US  */
  .row.greeting {
    padding: 20px 0;
  }
  .row.greeting .content.two {
    padding: 0 20px;
  }
  .row.greeting .content.one {
    font-size: 27px;
    text-align: center;
  }

  /*   content  */
  .content-main {
    margin: 20px 30px;
    font-size: 17px;
    line-height: 1.5;
  }

  /*  CONTENT 2 -- VISION  */
  .row.vision {
    position: relative;
    padding-bottom: 0;
  }
  .row.vision .col-5 {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0;
  }
  .row.vision .col-7 {
    width: 100%;
    margin: 185px 0 0;
  }
  .row.vision .content-vision {
    padding: 0 24px 24px;
  }

  /*  CONTENT 3 -- MISSION  */
  .title-mission {
    margin-top: 20px;
    margin-bottom: 8px;
  }
  .content-mission {
    margin: 0 50px;
  }


  /*  CONTENT 4 -- OUR COMMITMENT  */
  .carousel.slide {
    height: 500px;
  }
  .carousel.slide img{
    height: 500px;
    object-fit: cover;
  }
  .carousel-caption {
    margin: 0 -50px;
  }
  .carousel-caption h5{
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
  }
}
/*  DISPLAY SCREEN LESS THAN 800px  */
@media (max-width: 800px) {
  /*  Vision  */
  .row.vision .col-7 {
    width: 100%;
    margin-top: 215px;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  }
}

/*  DISPLAY SCREEN LESS THAN 750px  */
@media (max-width: 750px){
  .our-commitment .display-our-commitment {
    display: block;
  }
  .our-commitment .display-our-commitment p {
    margin: 20px;
    text-align: justify;
  }
}


/*  DISPLAY SCREEN LESS THAN 740px  */
@media (max-width: 740px){
  .container {
    padding: 0 10px;
  }
  .title-background {
    bottom: 40px;
  }
  .background-video {
    height: 350px;
  }
  video {
    height: 350px;
  }

  /*  CONTENT 1 -- ABOUT-US  */
  .row.greeting {
    text-transform: uppercase;
    padding: 27px 0;
    margin: 0;
    letter-spacing: 2px;
  }
  .row.greeting .content.one {
    font-size: 22px;
    text-align: center;
  }
  .row.greeting .content.two {
    font-size: 18px;
    margin: 0;
  }


  /*  CONTENT 2 -- VISION  */
  /*  including the CSS of the "MISSION" section  */
  .title-vision, .title-mission {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2rem;
  }
  .row.vision .col-7 {
    margin-top: 230px;
    padding: 0 20px;
  }
  .row.vision .col-5 {
    padding: 20px;
  }
  .content-vision {
    padding-bottom: 24px;
    margin-bottom: 12px;
  }
  .row.vision .col-7 {
    width: 100%;
    margin-top: 260px;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  }
  /*  CONTENT3 -- MISSION  */
  .content-mission {
    margin: 0 20px;
  }

  /*  CONTENT 4 -- OUR COMMITMENT  */
  .our-commitment {
    margin-bottom: 60px;
  }
  .title-our-commitment{
    margin: 10px;
  }
  .title-our-commitment span{
    margin-left: 70px;
    font-size: 2rem;
  }
  .carousel.slide {
    height: 450px;
  }
  .carousel.slide img{
    height: 450px;
    object-fit: cover;
  }
  .carousel.slide {
    margin-top: 30px;
  }
  /*  CONTENT 5 -- OUR TEAM  */

  .title-our-team{
    height: 1px;
    background-color: #d3d3d3;
    position: relative;
    z-index: 1;
    margin: 50px 10px;
  }
  .title-our-team span{
    margin-left: 70px;
    font-size: 2rem;
  }
}

/*  DISPLAY SCREEN LESS THAN 600px  */
@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }

  /*  BACKGROUND VIDEO*/
  .title-background {
    bottom: 30px;
  }
  .background-video {
    height: 250px;
  }
  video {
    height: 250px;
  }
  .title-background h1{
    font-size: 27px;
    letter-spacing: 3px;
  }
  .title-background a {
    font-size: 20px;
    letter-spacing: 3px;
    border-radius: 20px;
    padding: 2px 15px 3px;
  }

  /*  CONTENT 1 -- ABOUT-US  */
  .row.greeting {
    text-transform: uppercase;
    padding: 12px 0;
    margin: 0;
    letter-spacing: 2px;
  }
  .row.greeting .content.one {
    font-size: 18px;
    text-align: center;
  }
  .row.greeting .content.two {
    font-size: 16px;
    text-align: center;
    margin-top: 0;
  }

  .title-vision, .title-mission {
    font-size: 30px;
  }
  .title-our-team span{
    font-size: 30px;

  }
  .hero2-section {
    transform: rotate(180deg);
    margin-bottom: -3px;
  }
  .hero-section {
    margin-top: -3px;
  }

}

