<div class="about-us">

  <!--   BACKGROUND - VIDEO -->
  <div class="background-video">
    <video autoplay loop [muted]="true" playsinline>
      <source src="https://player.vimeo.com/external/522640019.hd.mp4?s=dc318ae255053efa7316b584383c1aad95358a2a&profile_id=174" type="video/mp4">
    </video>
    <div class="title-background">
      <h1>Bridge.com</h1>
      <a routerLink="/latest-posts">Explore</a>
    </div>
  </div>


  <!--  CONTENT 1 -- ABOUT US  -->
  <div class="row greeting">
    <p class="content one">HI GUYS !!! WELCOME TO Bridge.com</p>
    <p class="content two">
      where you can find all the most complete, accurate,
      reliable information about bridges in the world...
    </p>
  </div>

  <div class="container">

    <!--  CONTENT2 -- VISION  -->
    <div class="row vision">
      <div class="col-7">
        <img src="https://wallpaperaccess.com/full/5237825.png" alt="world map">
      </div>
      <div class="col-5">
        <div class="title-vision">
          Vision
        </div>
        <div class="content-vision">
          Whoever you are, <a href="#">bridge.com</a> will always help you to explore and discover the limits of your knowledge. We always
          make sure to bring a knowledge sharing channel about bridges for those of you who love to discover new things around the world.
        </div>
      </div>
    </div>

    <!--  CONTENT3 -- MISSION  -->
    <div class="mission">
      <div class="title-mission">
        Mission
      </div>
      <div class="content-mission">
        <div class="content num1">
          Humanity has built bridges since the dawn of civilizations. Today, bridges are all around us - they provide an easier,
          faster and safer connection between two points. Bridges have evolved from mere structures to symbols of cities, nations,
          and human progress. The iconic bridge structures embody the engineers' eternal aspiration for greater achievement - longer
          and taller, stronger and faster. We all admire bridges that gracefully cross over a deep ravine, canyon, great river or bay
          and consider them highly technical achievements.
        </div>
        <div class="content num2">
          Today's bridges symbolize not only the advancement of our world in design but also its advancement in technology.
          As a result, architects and engineers have been able to combine design and technology to create bridges that are bigger,
          better, and more spectacular than ever before. Some of these are simply stunning - a veritable wonder of classical engineering capabilities and striking achievements
          of modern engineering. We have a mission to compile the most incredible bridges in the world, young and old.
        </div>
      </div>
    </div>
  </div>

  <!--  CONTENT4  --  OUR COMMITMENT  -->
  <div class="hero2-section">
    <img src="https://6968579.fs1.hubspotusercontent-na1.net/hubfs/6968579/Memrise%20July%202020/Images/brushstrokes/navy-bg.png" alt="image">
  </div>
  <div class="our-commitment">
    <div class="row content-commitment">
      <div class="col-lg-6 num1">
        <div class="title-commitment">
          <p class="title">our commitment</p>
        </div>
        <p class="content">
          Since its founding on October 1, 2022, Bridge.com has always been committed to developing into a large reference website,
          attracting a large number of visitors to search for information. All of our documents, images, information are free
          to use, anyone can use them.
        </p>
      </div>
      <div class="col-lg-6 num2">
        <div class="img">
          <img src="https://www.memrise.com/hubfs/Memrise%20July%202020/Images/Banner-image.png" alt="img">
        </div>
      </div>
      <div class="col-lg-6 num3">
        <p class="content">
          We are constantly searching and creating new articles about bridges to bring you quickly and accurately. Newspapers about
          new events will appear within weeks. In addition, we are always looking for omissions and inaccuracies in the articles we
          have created.
        </p>
      </div>
      <div class="col-lg-6 num4">
        <p class="content">
          We always promise that the articles we create are true. Our team always tries to find the most accurate information to bring
          to readers. However, there are still certain errors that cannot be avoided, please comment and we will correct them as soon
          as possible.
        </p>

      </div>
    </div>

  </div>
  <div class="hero-section">
    <img src="https://6968579.fs1.hubspotusercontent-na1.net/hubfs/6968579/Memrise%20July%202020/Images/brushstrokes/navy-bg.png" alt="image">
  </div>


  <div class="container">
    <!--  CONTENT 5 --  OUR TEAM  -->
    <div class="our-team">
      <div class="title-our-team mt-5">
        <span>Our team</span>
      </div>
      <div class="row px-5 content-our-team">
        <div class="col-12 col-md-6 col-lg-4 p-3" *ngFor="let l of listOurteam; let i = index">
          <div class="member-infor">
            <i class="fa-sharp fa-solid fa-circle-user"></i>
            <div class="content-main">
              <div class="name">
                {{l.memberName}}
              </div>
              <div class="position num1">
                {{l.positionOne}}
              </div>
              <div class="position num2">
                {{l.positionTwo}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



