<div class="background fixed-top"  id="{{displaySideMenu == 0 ? 'navbar': ''}}">
  <div class="container">
    <nav>
      <div class="menu-icon" id="menuBt">
        <i class="fa-solid fa-bars" (click)="displaySideMenu = 1" [class.hide]="displaySideMenu == 1"></i>
      </div>
      <div class="logo">
        <a routerLink="/"><img src="assets/images/logo-white.png" alt="logo" width="150"/></a>
      </div>
      <div class="nav-items" [class.active]="displaySideMenu == 1">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/latest-posts">Lastest Post</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Popular Sections  <i class="fa-solid fa-chevron-down"></i></a>
          <div class="dropdown-content">
            <a routerLink="/bridges-history">Bridges History</a>
            <a routerLink="/historical-great-bridges">Historical Great Bridges</a>
            <a routerLink="/achivement">High-Level Achivements in Bridges</a>
            <a routerLink="/iconic-bridges">Iconic Bridges</a>
            <a routerLink="/modern-great-bridges">Modern Great Bridges</a>
          </div>
        </li>
        <li class="dropdown">
          <a class="dropbtn">Bridges By Continent  <i class="fa-solid fa-chevron-down"></i></a>
          <div class="dropdown-content">
            <a [routerLink]="['/bridges-by-continent', c.id]" *ngFor="let c of CONTINENTS">{{c.name}}</a>

          </div>
        </li>
        <li><a routerLink="/gallery">Gallery</a></li>
      </div>
      <div class="search-icon" [class.hide]="displaySideMenu == 1 || displaySearchBar == 1" (click)="displaySearchBar = 1">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="cancel-icon" [class.show]="displaySideMenu == 1 || displaySearchBar == 1" (click)="displaySideMenu = 0; displaySearchBar = 0">
        <i class="fa-solid fa-xmark"></i>
      </div>
      <div class="form" action="#" [class.active]="displaySearchBar == 1">
        <input type="text" [(ngModel)]="searchInputValue" class="search-data" placeholder="Search" required (keyup.enter)="submit()"/>
        <button type="submit" (click)="submit()"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </nav>
  </div>
</div>
<!-- Due to header fixed top position > this div is created to push content below header -->
<div style="height: 70px"></div>


