<div class="position-relative" *ngIf="loading == true" style="height: 100vh">
  <ngx-loading
    [show]="loading"
    [template]="loadingTemplate"
  ></ngx-loading>
</div>

<div class="container" *ngIf="loading == false">
  <div class="banner" [ngStyle]="{'background': 'linear-gradient(#000, transparent, #000), url(\'../../assets/images/paralax-banner/1_2.jpg\') 50%/ cover', 'background-attachment' : 'fixed', 'background-blend-mode': 'multiply', 'height': '37.5vmin'}"></div>
  <div class="row page-header">
    <div class="title col-12">High-level Achievements in Bridges</div>
  </div>
</div>

<div class="container timeline-container" *ngIf="loading == false">
  <div class="section-title mt-5">
    <span>Content</span>
  </div>
  <p class="fs-5 mb-4">Several bridges are notable for their high level of achievement, but still don’t qualify individually as a great bridge. These include the Verrazano Narrows Bridge, for its span, and the Bosphorus Bridge I, built between two continents.</p>

  <article class="postcard light blue">
    <a class="postcard__img_link" [routerLink]="['/bridge-page', POSTS[2].id]">
      <img class="postcard__img" src="{{POSTS[2].thumbnail}}" alt="Image Title" />
    </a>
    <div class="postcard__text t-dark">
      <h1 class="postcard__title blue"><a [routerLink]="['/bridge-page', POSTS[2].id]">{{POSTS[2].bridge_name}}</a></h1>
      <div class="postcard__subtitle small">
        <time datetime="2020-05-25 12:00:00">
          <i class="fas fa-calendar-alt mr-2"></i> {{POSTS[2].posted_date}}
        </time>
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">{{POSTS[2].introduction}}</div>
      <ul class="postcard__tagbox">
        <li class="tag__item">
          <a [routerLink]="['/bridges-by-continent', POSTS[2].continent_id]"><i class="fas fa-tag mr-2">
          </i> {{POSTS[2].continent_name}}</a>
        </li>
        <li class="tag__item play blue">
          <a [routerLink]="['/bridge-page', POSTS[2].id]"><i class="fas fa-play mr-2"></i> More detail</a>
        </li>
      </ul>
    </div>
  </article>
  <article class="postcard light red">
    <a class="postcard__img_link" [routerLink]="['/bridge-page', POSTS[1].id]">
      <img class="postcard__img" src="{{POSTS[1].thumbnail}}" alt="Image Title" />
    </a>
    <div class="postcard__text t-dark">
      <h1 class="postcard__title red"><a [routerLink]="['/bridge-page', POSTS[1].id]">{{POSTS[1].bridge_name}}</a></h1>
      <div class="postcard__subtitle small">
        <time datetime="2020-05-25 12:00:00">
          <i class="fas fa-calendar-alt mr-2"></i> {{POSTS[1].posted_date}}
        </time>
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">{{POSTS[1].introduction}}</div>
      <ul class="postcard__tagbox">
        <li class="tag__item">
          <a [routerLink]="['/bridges-by-continent', POSTS[1].continent_id]"><i class="fas fa-tag mr-2">
          </i> {{POSTS[1].continent_name}}</a>
        </li>
        <li class="tag__item play red">
          <a [routerLink]="['/bridge-page', POSTS[1].id]"><i class="fas fa-play mr-2"></i> More detail</a>
        </li>
      </ul>
    </div>
  </article>

  <p class="fs-5 mb-4">Several cable-stayed bridges should be noted for their long spans, including the Normandy, Sutong, Stonecutters, Maracaibo Bay, Rion Antirion, Millau Viaduct, Sunniberg, and Russky Island Bridges. </p>

  <article class="postcard light blue">
    <a class="postcard__img_link" [routerLink]="['/bridge-page', POSTS[6].id]">
      <img class="postcard__img" src="{{POSTS[6].thumbnail}}" alt="Image Title" />
    </a>
    <div class="postcard__text t-dark">
      <h1 class="postcard__title blue"><a [routerLink]="['/bridge-page', POSTS[6].id]">{{POSTS[6].bridge_name}}</a></h1>
      <div class="postcard__subtitle small">
        <time datetime="2020-05-25 12:00:00">
          <i class="fas fa-calendar-alt mr-2"></i> {{POSTS[6].posted_date}}
        </time>
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">{{POSTS[6].introduction}}</div>
      <ul class="postcard__tagbox">
        <li class="tag__item">
          <a [routerLink]="['/bridges-by-continent', POSTS[6].continent_id]"><i class="fas fa-tag mr-2">
          </i> {{POSTS[6].continent_name}}</a>
        </li>
        <li class="tag__item play blue">
          <a [routerLink]="['/bridge-page', POSTS[6].id]"><i class="fas fa-play mr-2"></i> More detail</a>
        </li>
      </ul>
    </div>
  </article>
  <article class="postcard light red">
    <a class="postcard__img_link" [routerLink]="['/bridge-page', POSTS[4].id]">
      <img class="postcard__img" src="{{POSTS[4].thumbnail}}" alt="Image Title" />
    </a>
    <div class="postcard__text t-dark">
      <h1 class="postcard__title red"><a [routerLink]="['/bridge-page', POSTS[4].id]">{{POSTS[4].bridge_name}}</a></h1>
      <div class="postcard__subtitle small">
        <time datetime="2020-05-25 12:00:00">
          <i class="fas fa-calendar-alt mr-2"></i> {{POSTS[4].posted_date}}
        </time>
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">{{POSTS[4].introduction}}</div>
      <ul class="postcard__tagbox">
        <li class="tag__item">
          <a [routerLink]="['/bridges-by-continent', POSTS[4].continent_id]"><i class="fas fa-tag mr-2">
          </i> {{POSTS[4].continent_name}}</a>
        </li>
        <li class="tag__item play red">
          <a [routerLink]="['/bridge-page', POSTS[4].id]"><i class="fas fa-play mr-2"></i> More detail</a>
        </li>
      </ul>
    </div>
  </article>
  <article class="postcard light blue">
    <a class="postcard__img_link" [routerLink]="['/bridge-page', POSTS[5].id]">
      <img class="postcard__img" src="{{POSTS[5].thumbnail}}" alt="Image Title" />
    </a>
    <div class="postcard__text t-dark">
      <h1 class="postcard__title blue"><a [routerLink]="['/bridge-page', POSTS[5].id]">{{POSTS[5].bridge_name}}</a></h1>
      <div class="postcard__subtitle small">
        <time datetime="2020-05-25 12:00:00">
          <i class="fas fa-calendar-alt mr-2"></i> {{POSTS[5].posted_date}}
        </time>
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">{{POSTS[5].introduction}}</div>
      <ul class="postcard__tagbox">
        <li class="tag__item">
          <a [routerLink]="['/bridges-by-continent', POSTS[5].continent_id]"><i class="fas fa-tag mr-2">
          </i> {{POSTS[5].continent_name}}</a>
        </li>
        <li class="tag__item play blue">
          <a [routerLink]="['/bridge-page', POSTS[5].id]"><i class="fas fa-play mr-2"></i> More detail</a>
        </li>
      </ul>
    </div>
  </article>
  <article class="postcard light red">
    <a class="postcard__img_link" [routerLink]="['/bridge-page', POSTS[7].id]">
      <img class="postcard__img" src="{{POSTS[7].thumbnail}}" alt="Image Title" />
    </a>
    <div class="postcard__text t-dark">
      <h1 class="postcard__title red"><a [routerLink]="['/bridge-page', POSTS[7].id]">{{POSTS[7].bridge_name}}</a></h1>
      <div class="postcard__subtitle small">
        <time datetime="2020-05-25 12:00:00">
          <i class="fas fa-calendar-alt mr-2"></i> {{POSTS[7].posted_date}}
        </time>
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">{{POSTS[7].introduction}}</div>
      <ul class="postcard__tagbox">
        <li class="tag__item">
          <a [routerLink]="['/bridges-by-continent', POSTS[7].continent_id]"><i class="fas fa-tag mr-2">
          </i> {{POSTS[7].continent_name}}</a>
        </li>
        <li class="tag__item play red">
          <a [routerLink]="['/bridge-page', POSTS[7].id]"><i class="fas fa-play mr-2"></i> More detail</a>
        </li>
      </ul>
    </div>
  </article>
  <article class="postcard light blue">
    <a class="postcard__img_link" [routerLink]="['/bridge-page', POSTS[0].id]">
      <img class="postcard__img" src="{{POSTS[0].thumbnail}}" alt="Image Title" />
    </a>
    <div class="postcard__text t-dark">
      <h1 class="postcard__title blue"><a [routerLink]="['/bridge-page', POSTS[0].id]">{{POSTS[0].bridge_name}}</a></h1>
      <div class="postcard__subtitle small">
        <time datetime="2020-05-25 12:00:00">
          <i class="fas fa-calendar-alt mr-2"></i> {{POSTS[0].posted_date}}
        </time>
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">{{POSTS[0].introduction}}</div>
      <ul class="postcard__tagbox">
        <li class="tag__item">
          <a [routerLink]="['/bridges-by-continent', POSTS[0].continent_id]"><i class="fas fa-tag mr-2">
          </i> {{POSTS[0].continent_name}}</a>
        </li>
        <li class="tag__item play blue">
          <a [routerLink]="['/bridge-page', POSTS[0].id]"><i class="fas fa-play mr-2"></i> More detail</a>
        </li>
      </ul>
    </div>
  </article>
  <article class="postcard light red">
    <a class="postcard__img_link" [routerLink]="['/bridge-page', POSTS[8].id]">
      <img class="postcard__img" src="{{POSTS[8].thumbnail}}" alt="Image Title" />
    </a>
    <div class="postcard__text t-dark">
      <h1 class="postcard__title red"><a [routerLink]="['/bridge-page', POSTS[8].id]">{{POSTS[8].bridge_name}}</a></h1>
      <div class="postcard__subtitle small">
        <time datetime="2020-05-25 12:00:00">
          <i class="fas fa-calendar-alt mr-2"></i> {{POSTS[8].posted_date}}
        </time>
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">{{POSTS[8].introduction}}</div>
      <ul class="postcard__tagbox">
        <li class="tag__item">
          <a [routerLink]="['/bridges-by-continent', POSTS[8].continent_id]"><i class="fas fa-tag mr-2">
          </i> {{POSTS[8].continent_name}}</a>
        </li>
        <li class="tag__item play red">
          <a [routerLink]="['/bridge-page', POSTS[8].id]"><i class="fas fa-play mr-2"></i> More detail</a>
        </li>
      </ul>
    </div>
  </article>
  <article class="postcard light blue">
    <a class="postcard__img_link" [routerLink]="['/bridge-page', POSTS[3].id]">
      <img class="postcard__img" src="{{POSTS[3].thumbnail}}" alt="Image Title" />
    </a>
    <div class="postcard__text t-dark">
      <h1 class="postcard__title blue"><a [routerLink]="['/bridge-page', POSTS[3].id]">{{POSTS[3].bridge_name}}</a></h1>
      <div class="postcard__subtitle small">
        <time datetime="2020-05-25 12:00:00">
          <i class="fas fa-calendar-alt mr-2"></i> {{POSTS[3].posted_date}}
        </time>
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">{{POSTS[3].introduction}}</div>
      <ul class="postcard__tagbox">
        <li class="tag__item">
          <a [routerLink]="['/bridges-by-continent', POSTS[3].continent_id]"><i class="fas fa-tag mr-2">
          </i> {{POSTS[3].continent_name}}</a>
        </li>
        <li class="tag__item play blue">
          <a [routerLink]="['/bridge-page', POSTS[3].id]"><i class="fas fa-play mr-2"></i> More detail</a>
        </li>
      </ul>
    </div>
  </article>

  <p class="fs-5 mb-4">This structural system, in just 50 years, reached free-spans exceeding 3,280 feet. It is still too soon to tell if any of these bridges will be added to the group of Great Bridges.</p>

</div>




