<div class="position-relative" *ngIf="loading == true" style="height: 100vh">
  <ngx-loading
    [show]="loading"
    [template]="loadingTemplate"
  ></ngx-loading>
</div>

<div class="container-fluid gradient-background" *ngIf="loading == false">
  <div class="container py-5">
    <div class="row page-header pt-4 pb-4 mb-3 mx-0">
      <div class="title col-12">Images gallery</div>
      <!--      <div class="col-auto fs-3">|</div>-->
      <!--      <div class="col-auto fs-3">{{count}} results</div>-->
      <div class="desc col-12">— A collection off all bridge images, photos, paintings from all continents —</div>
    </div>
  </div>
</div>

<div *ngIf="loading == false">
  <div class="container">
    <div class="all-images mt-4 mb-5">
      <ul style="padding: 0">
        <li *ngFor="let image of tempIMAGES, let i = index">
          <img [src]="image.url" [title]="image.title" (click)="open(i)"/>
          <span *ngIf="i == tempIMAGES.length - 1" (click)="showMore()" [class.d-none]="tempIMAGES.length == IMAGES.length">+{{IMAGES.length - tempIMAGES.length}}</span>
        </li>
      </ul>
    </div>
  </div>


<!--  <ngx-loading-->
<!--    [show]="loading"-->
<!--    [template]="loadingTemplate"-->
<!--  ></ngx-loading>-->
</div>

