<!--  BRIDGE NAME // TÊN CẦU  -->
<div class="bridge-name">
  <div class="container">
    <div class="name">Golden Gate Bridge</div>
    <div class="post-day">Posted on 2022-09-08</div>
  </div>
</div>

<div class="container">
  <!--  THUMBNAIL AND SUMMARY INFORMATION // HÌNH ẢNH VA THÔNG TIN TÓM TẮT  -->
  <div class="row">
    <!--SLIDE-->
    <div class="col-8 thumbnail">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/great_belt_bridge.jpg" class="d-block w-100" alt="img1">
          </div>
          <div class="carousel-item">
            <img src="assets/images/tower_bridge.jpg" class="d-block w-100" alt="img2">
          </div>
          <div class="carousel-item">
            <img src="assets/images/sydney_harbour_bridge.jpg" class="d-block w-100" alt="img3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!--  SUMMARY INFORMATION  -->
    <div class="col-4 information">
      <div class="row">
        <div class="title col-1">
          <p>main information about the bridge</p>
        </div>
        <div class="infor col-11">
          <div class="row">
            <div class="col-5">Coordinates</div>
            <div class="col-7">37°49′11″N 122°28′43″W</div>
          </div>
          <div class="row">
            <div class="col-5">Detail Location</div>
            <div class="col-7">San Francisco, California and Marin County, California, U.S.</div>
          </div>
          <div class="row">
            <div class="col-5">Type</div>
            <div class="col-7">.....</div>
          </div>
          <div class="row">
            <div class="col-5">Main Material</div>
            <div class="col-7">Steel</div>
          </div>
          <div class="row">
            <div class="col-5">Total Length</div>
            <div class="col-7">2.737,1 m</div>
          </div>
          <div class="row">
            <div class="col-5">Width</div>
            <div class="col-7">24,7 m</div>
          </div>
          <div class="row">
            <div class="col-5">Height</div>
            <div class="col-7">227,4 m</div>
          </div>
          <div class="row">
            <div class="col-5">Longest span</div>
            <div class="col-7">1.280,2 m</div>
          </div>
          <div class="row">
            <div class="col-5">Clearance below</div>
            <div class="col-7">67,1 m</div>
          </div>
          <div class="row">
            <div class="col-5">Construction start</div>
            <div class="col-7">January 5, 1933</div>
          </div>
          <div class="row">
            <div class="col-5">Construction End</div>
            <div class="col-7">April 19, 1937</div>
          </div>
          <div class="row">
            <div class="col-5">Opened Date</div>
            <div class="col-7">May 27, 1937; 85 years ago</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  GENERAL INFORMATION  // GIỚI THIỆU CHUNG  -->
  <div class="introduction">
    <div class="title-main">
      <p>Introduction</p>
    </div>
    <div class="introduction-content">
      <div class="content num1">
        The Golden Gate Bridge is a suspension bridge spanning the Golden Gate, the one-mile-wide (1.6 km) strait connecting
        San Francisco Bay and the Pacific Ocean. The structure links the U.S. city of San Francisco, California—the northern
        tip of the San Francisco Peninsula—to Marin County, carrying both U.S. Route 101 and California State Route 1 across the strait.
        It also carries pedestrian and bicycle traffic, and is designated as part of U.S. Bicycle Route 95. Being declared one of the
        Wonders of the Modern World by the American Society of Civil Engineers, the bridge is one of the most internationally recognized
        symbols of San Francisco and California. It was initially designed by engineer Joseph Strauss in 1917. The bridge was named for the
        Golden Gate strait, the channel that it spans.
      </div>
      <div class="content num2">
        The Frommer's travel guide describes the Golden Gate Bridge as "possibly the most beautiful, certainly the most photographed,
        bridge in the world." At the time of its opening in 1937, it was both the longest and the tallest suspension bridge in
        the world, with a main span of 4,200 feet (1,280 m) and a total height of 746 feet (227 m).
      </div>
    </div>
  </div>

  <!-- HISTORY SECTION -->
  <div class="history">
    <div class="title-main">
      <p>History</p>
    </div>
    <div class="history-content">
      <div class="content num1">
        Before the bridge was built, the only practical short route between San Francisco and what is now Marin County was by boat
        across a section of San Francisco Bay. A ferry service began as early as 1820, with a regularly scheduled service beginning
        in the 1840s for the purpose of transporting water to San Francisco.
      </div>
      <div class="content num2">
        The Sausalito Land and Ferry Company service, launched in 1867, eventually became the Golden Gate Ferry Company, a Southern
        Pacific Railroad subsidiary, the largest ferry operation in the world by the late 1920s. Once for railroad passengers
        and customers only, Southern Pacific's automobile ferries became very profitable and important to the regional economy.
        The ferry crossing between the Hyde Street Pier in San Francisco and Sausalito Ferry Terminal in Marin County took approximately
        20 minutes and cost $1.00 per vehicle, a price later reduced to compete with the new bridge. The trip from the San Francisco
        Ferry Building took 27 minutes.
      </div>
      <div class="content num3">
        Many wanted to build a bridge to connect San Francisco to Marin County. San Francisco was the largest American city still served
        primarily by ferry boats. Because it did not have a permanent link with communities around the bay, the city's growth rate was
        below the national average. Many experts said that a bridge could not be built across the 6,700-foot (2,000-metre) strait,
        which had strong, swirling tides and currents, with water 372 ft (113 m) deep at the center of the channel, and frequent strong winds.
        Experts said that ferocious winds and blinding fogs would prevent construction and operation.
      </div>
    </div>
  </div>

  <!-- GALLERY -->
  <app-bridge-detail-gallery
    [galleryDataImage]="data"
    [showCount]="true"
  ></app-bridge-detail-gallery>
</div>

