/* -----------STYLE PAGE HEADER ------------------*/
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
.page-header{
  position: relative;
}
.welcome-massage{
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 17rem;
  background-image: linear-gradient(to right, rgba(255, 61, 0, 0.82), rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome-massage .title{
  font-family: 'Abril Fatface', serif;
  font-size: 2.6em;
  color: white;
}
.welcome-massage .content{
  font-size: 1em;
  margin-bottom: 1rem;
  color: white;
  width: 80%;
}
.welcome-massage a.about-link{
  border: 1px solid white;
  padding: 0.2rem 1rem;
  width: fit-content;
  margin-right: 0.5rem;
  color: white;
}
.welcome-massage a.about-link:hover{
  border: 1px solid #171c24;
  color: #171c24;
  cursor: pointer;
}

/* -----------STYLE IMAGES SLIDE SHOW ---------------*/
.slideshow {
  list-style-type: none;
}
/** SLIDESHOW **/
.slideshow,
.slideshow:after {
  position: relative;
  height: 17rem;
  padding: 0 !important;
  z-index: 0;
}

.slideshow li span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 30s linear infinite 0s;
}


.slideshow li:nth-child(1) span {
  background-image: url("../../assets/images/brooklyn_bridge.jpg");
}
.slideshow li:nth-child(2) span {
  background-image: url("../../assets/images/golden_gate_bridge.jpg");
  animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
  background-image: url("../../assets/images/great_belt_bridge.jpg");
  animation-delay: 12s;
}
.slideshow li:nth-child(4) span {
  background-image: url("../../assets/images/sydney_harbour_bridge.jpg");
  animation-delay: 18s;
}
.slideshow li:nth-child(5) span {
  background-image: url("../../assets/images/tower_bridge.jpg");
  animation-delay: 24s;
}

@keyframes imageAnimation {
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

@keyframes titleAnimation {
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

/* --------- STYLE TOP POSTS SECTION ---------- */
.top-list{
  position: relative;
}
.top-list .header{
  color: white;
  background-color: #171c24;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid #171c24;
}
.top-list-card{
  position: relative;
  width: 100%;
  height: 12rem;
  overflow: hidden;
}
.top-list-card:hover .title{
  color: #ff3d00;
}
.top-list-card img.thumbnail{
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;

}
.top-list-card .title{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 3rem;
  padding-left: 0.2rem;
  padding-bottom: 0.2rem;

  font-size: 1.1rem;
  color: white;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(23, 28, 36, 0.86));
}
.show-more-button{
  border: 1px solid #171c24;
  color: #171c24;
  background-color: transparent;
  padding: 0.2rem 0;
}
.show-more-button:hover{
  border: 1px solid #ff3d00;
  color: #ff3d00;
}

/* ---------- STYLE LATEST POST -------------- */
.post-card .location a{
  color: grey;
}
.post-card .location a:hover{
  color: #ff3d00;
}
.post-card .title{
  font-size: 1.2rem;
  font-weight: bold;
}
