<div class="position-relative" *ngIf="loading == true" style="height: 100vh">
  <ngx-loading
    [show]="loading"
    [template]="loadingTemplate"
  ></ngx-loading>
</div>

<div class="position-relative">
  <div class="container-fluid p-0">
    <div class="video-container" style="">
      <video autoplay [muted]="true" loop id="myVideo" style=" ">
        <source src="https://res.cloudinary.com/dxcyeb8km/video/upload/v1664881668/video_header_scwjav.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>

    <div class="container">
      <div class="page-header row">
        <div class="welcome-massage mx-2">
          <div class="title">
            <div>Welcome</div>
            <div>
              <span>to Bridge.com</span>
            </div>
          </div>
          <div class="content fs-5 d-none d-md-block">Mankind has been building bridges since the time of early civilizations. Today, bridges are all around us – they provide easier, faster, and safer connections between two points. Bridges have evolved from merely utilitarian structures to become symbols of cities, countries, and human progress. In here you can find information and images about some of the world’s most Incredible bridges, both young and old.</div>
          <div class="linkgroup">
            <button class="custom-btn btn-3 mx-1" routerLink="/about-us"><span>About us</span></button>
            <button class="custom-btn btn-3 mx-1" routerLink="/contact-us"><span>Contact us</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid my-5">
    <div class="container">
      <div class="top-lists-container">
        <div class="top-lists-header-2">
          <span>Top lists</span>
        </div>
        <section class="hero-section">
          <div class="card-grid">
            <a class="card" [routerLink]="['/top-list-page', all.id]" *ngFor="let all of ALLTOPLISTS; let i = index">
              <div class="card__background" [style.background-image]="'url(../../'+all.thumbnail+')'"></div>
              <div class="card__content">
                <p class="card__category">Top 10</p>
                <h3 class="card__heading">{{all.name}}</h3>
              </div>
            </a>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="container pt-3">
    <div class="top-lists-header-2">
      <span>Continents map</span>
    </div>
  </div>
  <div class="container-fluid py-5 gradient-grey-background">
    <!-- Browse bridges by continents -->
<!--    <div class="container py-5">-->
<!--      <div class="continents-header-2">-->
<!--        <span>Continents map</span>-->
<!--      </div>-->
      <div class="continents-container">
        <div id="map-continents" style="transform: scale(1.4, 1.25)">
          <ul class="continents">
            <li class="c1"><a [routerLink]="['/bridges-by-continent', 4]">Africa</a></li>
            <li class="c2"><a [routerLink]="['/bridges-by-continent', 5]">Asia</a></li>
            <li class="c3"><a [routerLink]="['/bridges-by-continent', 6]">Australia</a></li>
            <li class="c4"><a [routerLink]="['/bridges-by-continent', 3]">Europe</a></li>
            <li class="c5"><a [routerLink]="['/bridges-by-continent', 1]">North America</a></li>
            <li class="c6"><a [routerLink]="['/bridges-by-continent', 2]">South America</a></li>
          </ul>
        </div>
<!--      </div>-->
    </div>
  </div>


  <div class="container mt-3 mb-5">
    <div class="latest-posts-container pb-3" style="padding-top: 2rem">
      <div class="top-lists-header-2">
        <span>Latest Posts</span>
      </div>
      <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let latest of SOMELATESTPOST; let i = index">
          <a [routerLink]="['/bridge-page', latest.id]"><div class="figure-container">
            <figure class="image-block">
              <h1>{{latest.bridge_name}}</h1>
              <img src="{{latest.thumbnail}}" alt="" />
              <figcaption>
                <h4 class="pb-2 fw-light">
                  More Info
                </h4>
                <ul style="list-style: none; padding: 0">
                  <li class="py-1">Country: {{latest.country_name}}</li>
                  <li class="py-1">Continent: {{latest.continent_name}}</li>
                  <li class="py-1">Type: {{latest.type}}</li>
                  <li class="py-1">Length: {{latest.total_length}}m</li>
                </ul>
                <button [routerLink]="['/bridge-page', latest.id]">
                  More Info
                </button>
              </figcaption>
            </figure>
          </div></a>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-2">
        <div class="wrapper">
          <a routerLink="/latest-posts"><div class="icon go-to">
            <span class="tooltip">Go to latest posts</span>
            <span><i class="fa-solid fa-arrow-right"></i></span>
          </div></a>
        </div>
      </div>
    </div>
  </div>


  <div class="container books-section-container">
    <div class="top-lists-header-2">
      <span>Interesting books</span>
    </div>
    <div class="row gy-4" style="margin-bottom: 5rem">
      <div class="col-12 col-md-6">
        <div class="row py-2 book-card">
          <div class="col-12 col-lg-6">
            <div class="book-container">
              <div class="book">
                <div class="book-cover cover1">
                  <div class="effect"></div>
                  <div class="light"></div>
                </div>
                <div class="book-inside">
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 book-info">
            <div class="book-title-1">Tower Bridge</div>
            <div class="book-title-2">History Engineering Design</div>
            <div class="book-author">
              <i class="fa-solid fa-user"></i>  by Powell Kenneth
            </div>
            <div class="divider-bar"></div>
            <div class="book-preview"><i>This new book, published to mark the 125th anniversary of its opening, will explore the history of the bridge, set it into the context of the River Thames and its crossings, and will, above all, focus on its design and construction.</i></div>
            <div class="book-tagbox">
              <a target="_blank" href="https://www.amazon.com/dp/0500343497?tag=uuid10-20"><div class="tag-item">
                <i class="fa-solid fa-cart-shopping"></i>  Avalible at Amazon
              </div></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="row py-2 book-card">
          <div class="col-12 col-lg-6">
            <div class="book-container">
              <div class="book">
                <div class="book-cover cover2">
                  <div class="effect"></div>
                  <div class="light"></div>
                </div>
                <div class="book-inside">
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 book-info">
            <div class="book-title-1">Bridges</div>
            <div class="book-title-2">A History of the World's Most Spectacular Spans</div>
            <div class="book-author">
              <i class="fa-solid fa-user"></i>  by Judith Dupré
            </div>
            <div class="divider-bar"></div>
            <div class="book-preview"><i>From New York Times best-selling author Judith Dupré a revised and updated edition of Bridges, her magnificent chronological tour of the world's most significant and eye-popping spans, covering thousands of years of architectural history.</i></div>
            <div class="book-tagbox">
              <a target="_blank" href="https://www.amazon.com/dp/0316507946?tag=uuid10-20"><div class="tag-item">
                <i class="fa-solid fa-cart-shopping"></i>  Avalible at Amazon
              </div></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="row py-2 book-card">
          <div class="col-12 col-lg-6">
            <div class="book-container">
              <div class="book">
                <div class="book-cover cover3">
                  <div class="effect"></div>
                  <div class="light"></div>
                </div>
                <div class="book-inside">
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 book-info">
            <div class="book-title-1">The Great Bridge</div>
            <div class="book-title-2">The Epic Story of the Building of the Brooklyn Bridge</div>
            <div class="book-author">
              <i class="fa-solid fa-user"></i>  by David McCullough
            </div>
            <div class="divider-bar"></div>
            <div class="book-preview"><i>The dramatic and enthralling story of the building of the Brooklyn Bridge, the world’s longest suspension bridge at the time, a tale of greed, corruption, and obstruction but also of optimism, heroism, and determination, told by master historian David McCullough.</i></div>
            <div class="book-tagbox">
              <a target="_blank" href="https://www.amazon.com/dp/1451683235?tag=uuid10-20"><div class="tag-item">
                <i class="fa-solid fa-cart-shopping"></i>  Avalible at Amazon
              </div></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="row py-2 book-card">
          <div class="col-12 col-lg-6">
            <div class="book-container">
              <div class="book">
                <div class="book-cover cover4">
                  <div class="effect"></div>
                  <div class="light"></div>
                </div>
                <div class="book-inside">
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 book-info">
            <div class="book-title-1">The Bridge</div>
            <div class="book-title-2">The Building of the Verrazano-Narrows Bridge</div>
            <div class="book-author">
              <i class="fa-solid fa-user"></i>  by Gay Talese
            </div>
            <div class="divider-bar"></div>
            <div class="book-preview"><i>Toward the end of 1964, the Verrazano (or, more properly, Verrazzano) Narrows Bridge―linking the New York City boroughs of Brooklyn and Staten Island―was completed. Fifty years later, it remains an engineering marvel.</i></div>
            <div class="book-tagbox">
              <a target="_blank" href="https://www.amazon.com/dp/1620406667?tag=uuid10-20"><div class="tag-item">
                <i class="fa-solid fa-cart-shopping"></i>  Avalible at Amazon
              </div></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




