<div class="position-relative" *ngIf="loading == true" style="height: 100vh">
<!--  <ngx-loading-->
<!--    [show]="loading"-->
<!--    [template]="loadingTemplate"-->
<!--  ></ngx-loading>-->
</div>

<div class="position-relative">
  <div class="container-fluid p-0">
    <div class="video-container" style="">
      <video autoplay [muted]="true" loop id="myVideo" style=" ">
        <source src="assets/video_header.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>

    <div class="container">
      <div class="page-header row">
        <div class="welcome-massage mx-2">
          <div class="title">
            <div>Welcome</div>
            <div>
              <span>to Bridge.com</span>
            </div>
          </div>
          <div class="content fs-5 d-none d-md-block">Mankind has been building bridges since the time of early civilizations. Today, bridges are all around us – they provide easier, faster, and safer connections between two points. Bridges have evolved from merely utilitarian structures to become symbols of cities, countries, and human progress. In here you can find information and images about some of the world’s most Incredible bridges, both young and old.</div>
          <div class="linkgroup">
            <button class="custom-btn btn-3 mx-1" routerLink="/about-us"><span>About us</span></button>
            <button class="custom-btn btn-3 mx-1" routerLink="/contact-us"><span>Contact us</span></button>
<!--            <a class="about-link" routerLink="/about-us">About us</a>-->
<!--            <a class="about-link" routerLink="/contact-us">Contact us</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="container position-relative">-->


  <!--  &lt;!&ndash; Page header with welcome massage and slide show &ndash;&gt;-->
  <!--&lt;!&ndash;  <video autoplay muted loop id="myVideo2">&ndash;&gt;-->
  <!--&lt;!&ndash;    <source src="assets/video_header.mp4" type="video/mp4">&ndash;&gt;-->
  <!--&lt;!&ndash;    Your browser does not support HTML5 video.&ndash;&gt;-->
  <!--&lt;!&ndash;  </video>&ndash;&gt;-->


  <!--&lt;!&ndash;  <div class="page-header row">&ndash;&gt;-->
  <!--&lt;!&ndash;    <div class="welcome-massage mx-2">&ndash;&gt;-->
  <!--&lt;!&ndash;      <div class="title">Welcome to Bridge.com</div>&ndash;&gt;-->
  <!--&lt;!&ndash;      <div class="content">In here you can find information and images about some of the world’s most Incredible bridges, both young and old.</div>&ndash;&gt;-->
  <!--&lt;!&ndash;      <div class="linkgroup">&ndash;&gt;-->
  <!--&lt;!&ndash;        <a class="about-link" routerLink="/about-us">About us</a>&ndash;&gt;-->
  <!--&lt;!&ndash;        <a class="about-link" routerLink="/contact-us">Contact us</a>&ndash;&gt;-->
  <!--&lt;!&ndash;      </div>&ndash;&gt;-->
  <!--&lt;!&ndash;    </div>&ndash;&gt;-->
  <!--&lt;!&ndash;  </div>&ndash;&gt;-->
  <!--&lt;!&ndash;  <ul class="slideshow">&ndash;&gt;-->
  <!--&lt;!&ndash;    <li><span></span></li>&ndash;&gt;-->
  <!--&lt;!&ndash;    <li><span>2</span></li>&ndash;&gt;-->
  <!--&lt;!&ndash;    <li><span></span></li>&ndash;&gt;-->
  <!--&lt;!&ndash;    <li><span></span></li>&ndash;&gt;-->
  <!--&lt;!&ndash;    <li><span></span></li>&ndash;&gt;-->
  <!--&lt;!&ndash;  </ul>&ndash;&gt;-->


  <!--  &lt;!&ndash; TOP sections (like top longest, top tallest, top oldest bridges &ndash;&gt;-->

  <!--  <div class="top-list row g-2">-->
  <!--    <div class="col-12 col-md-auto px-0">-->
  <!--      <div class="header px-3">-->
  <!--        Top lists about bridges-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="row border-bottom border-dark mx-0"></div>-->

  <!--    <div class="col-12 col-md-6" *ngFor="let all of ALLTOPLISTS; let i = index" [class.col-lg-3]="i >= 2" [class.d-md-block]="i >= 3" [ngClass]="{'d-none': displayMoreTopList == 0 && i >= 3, 'd-block': displayMoreTopList == 1 && i >= 3}">-->
  <!--      <a [routerLink]="['/top-list-page', all.id]"><div class="top-list-card">-->
  <!--        <img class="thumbnail" src="{{all.thumbnail}}"/>-->
  <!--        <div class="title">{{all.name}}</div>-->
  <!--      </div></a>-->
  <!--    </div>-->

  <!--    <button class="show-more-button d-md-none" (click)="displayMoreTopList = 1" [class.d-none]="displayMoreTopList == 1">Show more</button>-->
  <!--    <button class="show-more-button d-md-none" (click)="displayMoreTopList = 0" [class.d-none]="displayMoreTopList == 0">Show less</button>-->
  <!--    <div class="row border-bottom border-dark mx-0 mt-2"></div>-->

  <!--  </div>-->
  <!--</div>-->

  <div class="container-fluid my-5">
    <div class="container">
      <div class="top-lists-container">
<!--        <div class="top-lists-header">-->

<!--          <svg>-->
<!--            <text x="51%" y="60%"  text-anchor="middle"  >-->
<!--              TOP LISTS-->
<!--            </text>-->
<!--          </svg>-->

<!--        </div>-->
        <div class="top-lists-header-2">
          <span>Top lists</span>
        </div>
        <section class="hero-section">
          <div class="card-grid">
            <a class="card" [routerLink]="['/top-list-page', all.id]" *ngFor="let all of ALLTOPLISTS; let i = index">
              <div class="card__background" [style.background-image]="'url(../../'+all.thumbnail+')'"></div>
              <div class="card__content">
                <p class="card__category">Top 10</p>
                <h3 class="card__heading">{{all.name}}</h3>
              </div>
            </a>
          </div>
        </section>
      </div>
    </div>
  </div>


  <div class="container-fluid gradient-background">
    <!-- Browse bridges by continents -->
    <div class="container py-5">
      <div class="continents-header-2">
        <span>Continents map</span>
      </div>
      <div class="continents-container">
<!--        <div class="continents-header">-->

<!--          <svg>-->
<!--            <text x="51%" y="60%"  text-anchor="middle"  >-->
<!--              CONTINENTS MAP-->
<!--            </text>-->
<!--          </svg>-->

<!--        </div>-->
        <div id="map-continents" style="transform: scaleX(1.05)">
          <ul class="continents">
            <li class="c1"><a [routerLink]="['/bridges-by-continent', 4]">Africa</a></li>
            <li class="c2"><a [routerLink]="['/bridges-by-continent', 5]">Asia</a></li>
            <li class="c3"><a [routerLink]="['/bridges-by-continent', 6]">Australia</a></li>
            <li class="c4"><a [routerLink]="['/bridges-by-continent', 3]">Europe</a></li>
            <li class="c5"><a [routerLink]="['/bridges-by-continent', 1]">North America</a></li>
            <li class="c6"><a [routerLink]="['/bridges-by-continent', 2]">South America</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


<!--  <div class="container">-->
<!--    &lt;!&ndash; Latest Posts/Recently added &ndash;&gt;-->
<!--    <div class="top-list row g-2 mt-2">-->
<!--      <div class="col-12 col-md-auto px-0">-->
<!--        <div class="header px-3">-->
<!--          Latest posts-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row border-bottom border-dark mx-0"></div>-->

<!--      <div class="col-12 col-md-6" *ngFor="let latest of SOMELATESTPOST; let i = index" [class.col-lg-3]="i >= 2" [class.d-md-block]="i >= 3" [ngClass]="{'d-none': displayMoreLatestPost == 0 && i >= 3, 'd-block': displayMoreLatestPost == 1 && i >= 3}">-->
<!--        <div class="post-card">-->
<!--          <a href="#"><img class="latest-post-thumbnail" src="{{latest.thumbnail}}"/></a>-->
<!--          <div class="location"><a href="#">{{latest.country_name}}</a> / <a href="#">{{latest.continent_name}}</a></div>-->
<!--          <div class="title"><a href="#">{{latest.bridge_name}}</a></div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <button class="show-more-button d-md-none" (click)="displayMoreLatestPost = 1" [class.d-none]="displayMoreLatestPost == 1">Show more</button>-->
<!--      <button class="show-more-button d-md-none" (click)="displayMoreLatestPost = 0" [class.d-none]="displayMoreLatestPost == 0">Show less</button>-->
<!--      <button class="show-more-button" href="#">Go to Latest Posts</button>-->
<!--  &lt;!&ndash;    <div class="row border-bottom border-dark mx-0 mt-2"></div>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->






  <div class="container mt-3 mb-5">
    <div class="latest-posts-container pb-3" style="padding-top: 2rem">
<!--      <div class="latest-posts-header">-->

<!--        <svg>-->
<!--          <text x="51%" y="60%"  text-anchor="middle"  >-->
<!--            LATEST POSTS-->
<!--          </text>-->
<!--        </svg>-->

<!--      </div>-->
      <div class="top-lists-header-2">
        <span>Latest Posts</span>
      </div>
      <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let latest of SOMELATESTPOST; let i = index">
          <a [routerLink]="['/bridge-page', latest.id]"><div class="figure-container">
            <figure class="image-block">
              <h1>{{latest.bridge_name}}</h1>
              <img src="{{latest.thumbnail}}" alt="" />
              <figcaption>
                <h3>
                  More Info
                </h3>
                <ul style="list-style: none; padding: 0">
                  <li class="py-1">Country: {{latest.country_name}}</li>
                  <li class="py-1">Continent: {{latest.continent_name}}</li>
                  <li class="py-1">Type: {{latest.type}}</li>
                  <li class="py-1">Length: {{latest.total_length}}m</li>
                </ul>
                <button [routerLink]="['/bridge-page', latest.id]">
                  More Info
                </button>
              </figcaption>
            </figure>
          </div></a>
        </div>
      </div>
<!--      <div class="d-flex justify-content-end mt-3 px-3">-->
<!--        <a class="bn39" routerLink="/latest-posts"><span  class="bn39span">Go to Latest Posts<i class="fa-solid fa-arrow-right" style="position: relative; left:3%; transform: translateY(10%)"></i></span></a>-->
<!--      </div>-->
      <div class="d-flex justify-content-center mt-2">
        <div class="wrapper">
          <a routerLink="/latest-posts"><div class="icon go-to">
            <span class="tooltip">Go to latest posts</span>
            <span><i class="fa-solid fa-arrow-right"></i></span>
          </div></a>
        </div>
      </div>
    </div>
  </div>




  <div class="container books-section-container">
    <div class="top-lists-header-2">
      <span>Interesting books</span>
    </div>
    <div class="row gy-4" style="margin-bottom: 5rem">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="book-container">
          <div class="book">
            <div class="book-title">
              <p>Tower Bridge</p>
            </div>
            <div class="book-cover cover1">
              <div class="effect"></div>
              <div class="light"></div>
            </div>
            <div class="book-inside">
            </div>
            <a class="book-btn" href="https://www.amazon.com/dp/0500343497?tag=uuid10-20">34.22$</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="book-container">
          <div class="book">
            <div class="book-title">
              <p>Bridges</p>
            </div>
            <div class="book-cover cover2">
              <div class="effect"></div>
              <div class="light"></div>
            </div>
            <div class="book-inside">
            </div>
            <a class="book-btn" href="https://www.amazon.com/dp/0316507946?tag=uuid10-20">26.49$</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="book-container">
          <div class="book">
            <div class="book-title">
              <p>The Great Bridge</p>
            </div>
            <div class="book-cover cover3">
              <div class="effect"></div>
              <div class="light"></div>
            </div>
            <div class="book-inside">
            </div>
            <a class="book-btn" href="https://www.amazon.com/dp/1451683235?tag=uuid10-20">33.99$</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="book-container">
          <div class="book">
            <div class="book-title">
              <p>The Bridge</p>
            </div>
            <div class="book-cover cover4">
              <div class="effect"></div>
              <div class="light"></div>
            </div>
            <div class="book-inside">
            </div>
            <a class="book-btn" href="https://www.amazon.com/dp/1620406667?tag=uuid10-20">32.89$</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




