<div class="container">
  <div class="row">
    <div class="col-12 col-lg-9">
      <div class="header fs-3 border-bottom border-secondary">Top 10 longest bridges in the World</div>
      <div class="header-content fst-italic my-3">This is a list of the world's longest bridges that are more than 3 kilometers (1.9 mi) in length sorted by their full length above land and water. The main span is the longest span without any ground support</div>

      <div class="item-card">
        <div class="title fs-5">1. Danyang–Kunshan Grand Bridge</div>
        <div class="detail row justify-content-between mx-0 my-2 rounded" style="background-color: #f5f5f7">
          <div class="col-12 col-md-6 row">
            <div class="col-5"><b>Locate:</b></div>
            <div class="col-7">Jiangsu</div>
            <div class="col-5"><b>Country:</b></div>
            <div class="col-7">China</div>
            <div class="col-5"><b>Continent:</b></div>
            <div class="col-7">Asia</div>
            <div class="col-5"><b>Type:</b></div>
            <div class="col-7">Suspension Bridge</div>
          </div>
          <div class="col-12 col-md-6 row">
            <div class="col-5"><b>Total length:</b></div>
            <div class="col-7">164800 m</div>
            <div class="col-5"><b>Height:</b></div>
            <div class="col-7">30 m</div>
            <div class="col-5"><b>Clearance below:</b></div>
            <div class="col-7">70 m</div>
            <div class="col-5"><b>Construction end:</b></div>
            <div class="col-7">2010</div>
          </div>
        </div>
        <div class="row justify-content-center my-2">
          <div class="col-12 col-lg-8">
            <img class="rounded" src="assets/images/brooklyn_bridge.jpg">
          </div>
        </div>
        <div class="row introduction my-2">
          <div class="col-12">
            The Danyang–Kunshan Grand Bridge (simplified Chinese: 丹昆特大桥; traditional Chinese: 丹昆特大橋; pinyin: Dān-Kūn tèdà qiáo) is a 164.8-kilometre-long (102.4 mi) viaduct on the Beijing–Shanghai High-Speed Railway.[2] It is the longest bridge in the world.
          </div>
        </div>
      </div>

      <div class="item-card">
        <div class="title fs-5">2. Danyang–Kunshan Grand Bridge</div>
        <div class="detail row justify-content-between mx-0 my-2 rounded" style="background-color: #f5f5f7">
          <div class="col-6 row">
            <div class="col-5"><b>Locate:</b></div>
            <div class="col-7">Jiangsu</div>
            <div class="col-5"><b>Country:</b></div>
            <div class="col-7">China</div>
            <div class="col-5"><b>Continent:</b></div>
            <div class="col-7">Asia</div>
            <div class="col-5"><b>Type:</b></div>
            <div class="col-7">Suspension Bridge</div>
          </div>
          <div class="col-6 row">
            <div class="col-5"><b>Total length:</b></div>
            <div class="col-7">164800 m</div>
            <div class="col-5"><b>Height:</b></div>
            <div class="col-7">30 m</div>
            <div class="col-5"><b>Clearance below:</b></div>
            <div class="col-7">70 m</div>
            <div class="col-5"><b>Construction end:</b></div>
            <div class="col-7">2010</div>
          </div>
        </div>
        <div class="row justify-content-center my-2">
          <div class="col-8">
            <img class="rounded" src="assets/images/brooklyn_bridge.jpg">
          </div>
        </div>
        <div class="row introduction my-2">
          <div class="col-12">
            The Danyang–Kunshan Grand Bridge (simplified Chinese: 丹昆特大桥; traditional Chinese: 丹昆特大橋; pinyin: Dān-Kūn tèdà qiáo) is a 164.8-kilometre-long (102.4 mi) viaduct on the Beijing–Shanghai High-Speed Railway.[2] It is the longest bridge in the world.
          </div>
        </div>
      </div>

      <div class="item-card">
        <div class="title fs-5">3. Danyang–Kunshan Grand Bridge</div>
        <div class="detail row justify-content-between mx-0 my-2 rounded" style="background-color: #f5f5f7">
          <div class="col-6 row">
            <div class="col-5"><b>Locate:</b></div>
            <div class="col-7">Jiangsu</div>
            <div class="col-5"><b>Country:</b></div>
            <div class="col-7">China</div>
            <div class="col-5"><b>Continent:</b></div>
            <div class="col-7">Asia</div>
            <div class="col-5"><b>Type:</b></div>
            <div class="col-7">Suspension Bridge</div>
          </div>
          <div class="col-6 row">
            <div class="col-5"><b>Total length:</b></div>
            <div class="col-7">164800 m</div>
            <div class="col-5"><b>Height:</b></div>
            <div class="col-7">30 m</div>
            <div class="col-5"><b>Clearance below:</b></div>
            <div class="col-7">70 m</div>
            <div class="col-5"><b>Construction end:</b></div>
            <div class="col-7">2010</div>
          </div>
        </div>
        <div class="row justify-content-center my-2">
          <div class="col-8">
            <img class="rounded" src="assets/images/brooklyn_bridge.jpg">
          </div>
        </div>
        <div class="row introduction my-2">
          <div class="col-12">
            The Danyang–Kunshan Grand Bridge (simplified Chinese: 丹昆特大桥; traditional Chinese: 丹昆特大橋; pinyin: Dān-Kūn tèdà qiáo) is a 164.8-kilometre-long (102.4 mi) viaduct on the Beijing–Shanghai High-Speed Railway.[2] It is the longest bridge in the world.
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-3 px-4">
        <div class="row my-2">
          <div class="col-12 py-1 bg-dark text-light">Recent Post</div>
          <div class="col-12 py-1 border border-dark">
            <a class="d-block py-1" href="#">Danyang–Kunshan Grand Bridge</a>
            <a class="d-block py-1" href="#">Danyang–Kunshan Grand Bridge</a>
            <a class="d-block py-1" href="#">Danyang–Kunshan Grand Bridge</a>
            <a class="d-block py-1" href="#">Danyang–Kunshan Grand Bridge</a>
            <a class="d-block py-1" href="#">Danyang–Kunshan Grand Bridge</a>
          </div>
        </div>
      <div class="row my-4">
        <div class="col-12 py-1 bg-dark text-light">Related articles</div>
        <div class="col-12 py-1 border border-dark">
          <a class="d-block py-1" href="#">Top 10 tallest bridge in the World</a>
          <a class="d-block py-1" href="#">Top 10 highest bridge in the World</a>
          <a class="d-block py-1" href="#">Top 10 oldest bridge in the World</a>
        </div>
      </div>
    </div>
  </div>

</div>
