<div class="container1">
  <div class="hero">
    <div class="hero__image">
      <div class="hero__image--overlay"></div>
      <p class="hero__title animation--title-in">Top 10 bridges</p>
      <p class="hero__subtitle animation--title-in">in the World</p>
      <p class="hero__icon animation--title-in"><i class="fa-solid fa-arrow-down-long"></i></p>
    </div>
  </div>
</div>

<div class="container top-list-container">
  <h1 class="center">{{TOPLISTINFO[0].name}}</h1>

  <article class="episode">
    <div class="episode__number animate-charcter">00</div>
    <div class="episode__content">
      <div class="title">Description</div>
      <div class="story fs-5">
        <p>{{TOPLISTINFO[0].description}}</p>
        <p>*The difference between tall and high bridges can be explained in part because some of the highest bridges are built across deep valleys or gorges. For example, (as of 8 February 2020) the Duge Bridge is the highest bridge in the world, but only the tenth tallest. This bridge spans a deep river gorge. The bridge's two towers, built on either rim of the gorge, are 269 m (883 ft) tall, but due to the depth of the river gorge, the deck height of the Duge Bridge is 565 m (1,854 ft).</p>
      </div>
    </div>
  </article>

  <article class="episode" *ngFor="let t of TOP10BRIDGES; let i = index">
    <div class="episode__number animate-charcter"><span *ngIf="i<9">0</span>{{i+1}}</div>
    <div class="episode__content">
      <div class="title">Number {{i+1}}</div>
      <div class="story">
        <a [routerLink]="['/bridge-page', t.id]"><h2>{{t.bridge_name}}</h2></a>
        <img class="mt-2 mb-3" src="{{t.thumbnail}}" style="width: 100%; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.2)">
        <p class="fs-5" style="white-space: break-spaces; text-align: justify">{{t.introduction}}</p>
      </div>
    </div>
  </article>


</div>
